:root {
  --white: #ffffff;
  --light-grey: #f8f8f8;
  --grey: #ebebeb;
  --dark-grey: #707070;
  --darker-grey: #717171;
  --light-blue: #1792d2;
  --dark-blue: #143774;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  width: 100%;
}

.container {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: var(--light);
  padding: 2em 0;
}

.title {
  font-family: "Lora", serif;
}

/**********************************
       Typographie
***********************************/
h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--dark-blue);
}

h1 {
  font-size: 2rem;
  margin: 0;
}

a {
  color: var(--light-blue);
}

a:hover,
a:focus {
  color: var(--dark-blue);
}

strong {
  font-weight: 700;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0;
}

.article-title {
  font-size: 1.5rem;
}

.article-info,
.article-read-more {
  font-size: 0.875rem;
}

.article-read-more {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: var(--light-blue);
}

.article-read-more:hover,
.article-read-more:focus {
  color: var(--dark-blue);
  text-decoration: underline;
}

.widget-recent-post-title {
  font-size: 1.6rem;
}

/*********************
   Navigation
   ***********************/

nav {
  text-transform: uppercase;
  font-size: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: var(--light-blue);
}

.current-page {
  border-bottom: 1px solid var(--dark-grey);
}

.current-page:hover {
  color: var(--dark-grey);
}

.container-flex {
  display: flex;
}

main {
  width: 70%;
}

aside {
  width: 25%;
}

footer {
  background-color: var(--dark-blue);
  padding: 2em;
  text-align: center;
}
footer p {
  color: var(--white);
  opacity: 0.54;
}

@media (max-width: 675px) {
  header {
    text-align: center;
  }

  .container-flex {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.8em 0;
  }
}
