:root {
  --white: #ffffff;
  --light-grey: #f8f8f8;
  --grey: #ebebeb;
  --dark-grey: #707070;
  --darker-grey: #717171;
  --light-blue: #1792d2;
  --dark-blue: #143774;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  width: 100%;
  display: block;
}

/*************************
          Layout
**************************/

.container {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  background-color: var(--light-grey);
  padding: 2em 0;
  text-align: center;
  margin-bottom: 2em;
}

/*********************
   Navigation
   ***********************/

nav {
  text-transform: uppercase;
  font-size: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
}

nav li {
  margin: 0.8em 0;
}

nav a {
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: var(--light-blue);
}

.current-page {
  border-bottom: 1px solid var(--dark-grey);
}

.current-page:hover {
  color: var(--dark-grey);
}

/**********************************
       Typographie
***********************************/
h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--dark-blue);
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

a {
  color: var(--light-blue);
}

a:hover,
a:focus {
  color: var(--dark-blue);
}

strong {
  font-weight: 700;
}

.title {
  font-family: "Lora", serif;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0;
}

.article-title {
  font-size: 1.5rem;
}

.article-info,
.article-read-more {
  font-size: 0.875rem;
}

.article-info {
  margin: 2em 0;
}

.article-read-more {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: var(--light-blue);
}

.article-read-more:hover,
.article-read-more:focus {
  color: var(--dark-blue);
  text-decoration: underline;
}

.widget-recent-post-title {
  font-size: 1.6rem;
}

footer {
  background-color: var(--dark-blue);
  padding: 2em;
  text-align: center;
}
footer p {
  color: var(--white);
  opacity: 0.54;
}

/***********************************
Articles 
***********************************/
.article-featured {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--dark-grey);
  display: flex;
  flex-direction: column;
}

.article-featured img {
  order: -2;
}

.article-featured .article-info {
  order: -1;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.article-recent-main {
  order: 2;
}

article-recent-secondary {
  order: 1;
}

/***********************
      Sidebar
**********************/
.sidebar-widget {
  border: 15px solid var(--grey);
  margin-bottom: 2em;
  padding: 1em;
}

.sidebar-widget h2,
.widget-recent-post-title {
  font-size: 1.125rem;
}

.sidebar-widget h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar-widget-body {
  color: var(--dark-blue);
}

.widget-recent-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--grey);
}

.widget-recent-post:last-child {
  border-bottom: 0;
  margin: 0;
}

.widget-recent-post-title {
  order: 2;
}

.widget-recent-post .widget-image {
  height: 100px;
  object-fit: cover;
}

/***************************
  Media Queries
*****************************/
@media (min-width: 700px) {
  .container-flex {
    flex-direction: row;
  }

  main {
    width: 68%;
  }

  aside {
    width: 30%;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    margin-left: 2em;
  }

  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main {
    width: 63%;
  }

  .article-recent-secondary {
    width: 35%;
  }

  .article-image {
    min-height: 240px;
    object-fit: cover;
  }
}
